<div class="container" id="calendar">

    <div class="row">
        <div class="col-md-12">

            <section>
                <div class="responsiveCal">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src={{.Params.gcalemail}}&amp;color=%231B887A&amp;ctz={{.Params.ctz}}" style="{{.Params.gcalstyle}}" width="{{.Params.gcalwidth}}" height="{{.Params.gcalheight}}" frameborder="{{.Params.gcalborder}}" scrolling="{{.Params.gcalscroll}}"></iframe>
                </div>

            </section>
            
        </div>

        <!--<div class="col-md-4">          
            <section>

            </section>


        </div>-->

    </div>
    <!-- /.row -->

    



</div>



