<div class="container" id="ministry_daystar">

    <div class="row">
        <div class="col-md-9" id="blog-post">
                     <section class="post">
                            <div class="row">
                                
                                <div>
                                
                        <div id="post-content">
                        <div class="subhead">{{ .Params.subhead1 }}</div>
                        <br/>
                        <div class="iframe1">
                        <iframe src="https://docs.google.com/presentation/d/{{ .Params.subfrm1 }}/embed?start=true&loop=true&delayms=7000" frameborder="0" width="360" height="231" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>
                        <p class="subbody">
                         {{ .Params.submsg1 }}
                         <!-- {{ .Content }}-->
                        </p>
                        <div class="quot">
                        {{ .Params.subquot1 }}
                        </div>
                        </div>
                        <!-- /#post-content -->
                        

                    </div>
                    </div>
                    </section>

                    <section class="post">
                            <div class="row">
                                
                                <div>
                                
                        <div id="post-content">
                        <div class="subhead">{{ upper .Params.subhead2 }}</div>
                        <p class="candyjelly">
                         {{ .Params.submsg2 }}
                         <!-- {{ .Content }}-->
                        </p>
                        <div class="iframe1">
                        <iframe src="https://docs.google.com/presentation/d/{{ .Params.subfrm2 }}/embed?start=true&loop=true&delayms=7000" frameborder="0" width="360" height="231" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>

                        </div>
                        <!-- /#post-content -->
                        

                    </div>
                    </div>
                    </section>

                    <section class="post">
                            <div class="row">
                                
                                <div>
                                
                        <div id="post-content">
                        <div class="subhead">{{ upper .Params.subhead3 }}</div>
                        <p class="candyjelly">
                         {{ .Params.submsg3 }}
                         <!-- {{ .Content }}-->
                        </p>
                        <div class="iframe1">
                        <iframe src="https://docs.google.com/presentation/d/{{ .Params.subfrm3 }}/embed?start=true&loop=true&delayms=7000" frameborder="0" width="360" height="231" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>

                        </div>
                        <!-- /#post-content -->
                        

                    </div>
                    </div>
                    </section>

                    <section class="post">
                            <div class="row">
                                
                                <div>
                                
                        <div id="post-content">
                        <div class="subhead">{{ upper .Params.subhead4 }}</div>
                        <p class="candyjelly">
                         {{ .Params.submsg4 }}
                         <!-- {{ .Content }}-->
                        </p>
                        <div class="iframe1">
                        <iframe src="https://docs.google.com/presentation/d/{{ .Params.subfrm4 }}/embed?start=true&loop=true&delayms=7000" frameborder="0" width="360" height="231" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>

                        </div>
                        <!-- /#post-content -->
                        

                    </div>
                    </div>
                    </section>

                    <section class="post">
                            <div class="row">
                                
                                <div>
                                
                        <div id="post-content">
                        <div class="subhead">{{ upper .Params.subhead5 }}</div>
                        <p class="candyjelly">
                         {{ .Params.submsg5 }}
                         <!-- {{ .Content }}-->
                        </p>
                        <div class="iframe1">
                        <iframe src="https://docs.google.com/presentation/d/{{ .Params.subfrm5 }}/embed?start=true&loop=true&delayms=7000" frameborder="0" width="360" height="231" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>

                        </div>
                        <!-- /#post-content -->
                        

                    </div>
                    </div>
                    </section>

    

    
</div>
                      
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->
    <div class="col-md-3">
        
    {{ partial "ministry_nav.html" . }}
    
    {{ partial "other_areas_nav.html" . }}

    </div> 
    </div>
    <!-- /.row -->

    



</div>



